---
---

@import "{{ site.theme }}";

body {
    color: #0f0202;
}

a {
    color: #1cbaba;
    text-decoration: underline;
}

a:hover,
a:focus {
    color: #861d9b;
    font-weight: inherit;
}

.wrapper {
    display: grid;
    grid-template-columns: 200px auto;
    justify-content: space-between;
    grid-column-gap: 40px;
}

header,
footer {
    float: none;
    width: auto;
    position: relative;
}

section {
    float: none;
    max-width: 560px;
    width: auto;
}
